extends layout

block content
  .login
    h1.title= title

    form(action='/login', method='post')
      .errors
      ul.form-fields
        li: input#username.text-input(type='text', name='username', placeholder='Username')
        li: input#password.text-input(type='password', name='password', placeholder='Password')
        li: input.btn.btn--positive.btn--full(type='submit', value='Log In')

    .h-divider: em.h-divider-text or

    a.btn.btn--positive.btn--secondary.toggle-signup(href='#') Sign Up

  .signup
    form(action='/user', method='post')
      .errors
      ul.form-fields
        li: input#email.text-input(type='email', name='email', placeholder='E-mail')
        li: input#username.text-input(type='text', name='username', placeholder='Username')
        li: input#password.text-input(type='password', name='password', placeholder='Password')
        li: input.btn.btn--positive(type='submit', value='Create New Account')

    p.no-signup Already have an account?&nbsp;
      a.toggle-login(href='#') Log in.

  script(src='js/lib/vendor/require/require.js')
  script(src='js/lib/vendor/jquery-2.0.0.js')
  script(src='js/lib/vendor/underscore.js')
  script(src='js/lib/vendor/backbone.js')
  script
    require([
      'js/views/auth/login'
    , 'js/views/auth/signup'
    ], function( LoginView, SignupView ) {
      var Pubsub = _.extend( {}, Backbone.Events )
        , loginView = new LoginView({ Pubsub: Pubsub })
        , signupView = new SignupView({ Pubsub: Pubsub });

      Pubsub.on('toggleSignup', function() {
        loginView.hide();
        signupView.render();
      });

      Pubsub.on('toggleLogin', function() {
        signupView.hide();
        loginView.render();
      });
    });
