extends layout

block content
  .login
    h1.title= title

    form(action='/login', method='post')
      ul.form-fields
        li: input.text-input(type='email', name='email', placeholder='E-mail')
        li: input.text-input(type='text', name='password', placeholder='Password')
        li: input.btn.btn--positive(type='submit', value="Log In")

    .h-divider: em.h-divider-text or

    a.btn.btn--positive.toggle-signup(href='#') Sign Up

  .signup
    form(action='/user', method='post')
      ul.form-fields
        li: input#fName.text-input(type='text', name='fName', placeholder='First name')
        li: input#lName.text-input(type='text', name='lName', placeholder='Last name')
        li: input#email.text-input(type='email', name='email', placeholder='E-mail')
        li: input#password.text-input(type='text', name='password', placeholder='Password')
        li: input.btn.btn--positive(type='submit', value='Create New Account')

    p.no-signup Already have an account?&nbsp;
      a.toggle-login(href='#') Log in.
