@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@import url(http://fonts.googleapis.com/css?family=Pacifico);

.login, .signup {
    margin: 10% auto;
    text-align: center;
    width: 75%;

    .text-input {
        border-radius: 4px;
        padding: 0.5em;
        width: 80%;
    }
}

.login .title {
    @include single-text-shadow(1px, 1px, 2px, false, rgba(0, 0, 0, 0.8));

    color: $baseColor2;
    font-family: 'Pacifico', cursive;
}

.signup .no-signup {
    color: #fff;
    margin-top: 1.5em;

    & .toggle-login,
    & .toggle-login:hover {
        color: $baseColor2;
    }
}

.h-divider {
    padding: 1em 0;
    position: relative;
    text-align: center;

    &:before {
        @include single-box-shadow($baseColor2, 0, 1px, 1px, 0, false);

        border-top: 1px solid $baseColor5;
        content: "";
        display: "block";
        height: 1px;
        left: 5%;
        position: absolute;
        top: 50%;
        width: 90%;
        z-index: 1;
    }

    .h-divider-text {
        background: $baseColor1;
        color: #fff;
        padding: 0 2em;
        position: relative;
        z-index: 2;
    }
}
