@import "compass/css3/text-shadow";

.login, .signup {
    margin: 10% auto;
    text-align: center;
    width: 80%;
}

.login .title {
    color: $baseColor3;
    font-weight: 100;
    text-transform: uppercase;
}

.signup {
    display: none;
}

.signup .no-signup {
    color: $baseColor3;
    font-weight: 100;
    margin-top: 1.5em;

    & .toggle-login,
    & .toggle-login:hover {
        color: $baseColor0;
        font-weight: normal;
    }
}
