@import "compass/css3/text-shadow";

.login, .signup {
    margin: 10% auto;
    text-align: center;
    width: 80%;
}

.login .title {
    @include single-text-shadow(1px, 1px, 2px, false, rgba(0, 0, 0, 0.8));

    color: $baseColor2;
    font-family: 'helvetica', 'arial', 'sans-serif';
}

.signup {
    display: none;
}

.signup .no-signup {
    color: #fff;
    margin-top: 1.5em;

    & .toggle-login,
    & .toggle-login:hover {
        color: $baseColor2;
    }
}
