@import "../colors";
@import "compass/css3/box-shadow";

html, body {
    height: 100%;
}

body {
    background-color: $baseColor6;
    color: $baseColor3;
    font-family: 'helvetica', 'arial', 'sans-serif';
}

    #app {
        background-color: $baseColor3;
        color: $baseColor7;
        font-weight: 100;
        min-height: 100%;
    }

.block-list li {
    border-color: $baseColor4;
    border-style: dashed;

    font-size: 1.8em;
}

@mixin clearHeader {
    padding-top: 3em;
}
