.btn--positive {
    background-color: $baseColor7;
    border-radius: 25px;
    height: 3.2em;
}

.btn--secondary {
    background-color: $baseColor5;
    width: 75%;
}

.nav .btn {
    background-color: $baseColor5;
    text-align: center;
}

.btn--header {
    border: 1px solid $baseColor7a;
    color: $baseColor7;
    line-height: 2;
    margin-left: 0.5em;
}
