.btn--positive {
    background-color: $baseColor4;
}

.btn--secondary {
    background-color: $baseColor8;
    width: 50%;
}

.nav .btn {
    background-color: $baseColor8;
    text-align: center;
}
