@import "compass/css3/box-shadow";

.h-divider {
    padding: 1.5em 0;
    position: relative;
    text-align: center;

    &:before {
        border-top: 1px solid $baseColor3;
        content: "";
        display: "block";
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;
    }

    .h-divider-text {
        background: $baseColor6;
        color: $baseColor3;
        padding: 0 2em;
        position: relative;
        z-index: 2;
    }
}
