@mixin input-placeholder-color($color) {
    &::-webkit-input-placeholder { color: $color; }
    &:-moz-placeholder { color: $color; }
    &::-moz-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
}

.text-input {
    border: 0.2em solid transparent;
    border-radius: 25px;
    @include input-placeholder-color($baseColor1);
    color: $baseColor7;
    padding: 1em;
    width: 100%;
}

.text-input.error {
    border-color: $inputErrColor;
}

.errors {
    background-color: $baseColor7a;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: none;
    margin-bottom: 1.5em;

    .error-msg {
        margin-bottom: 1em;
        padding: 0 2em;
        text-align: left;

        &:first-child { padding-top: 2em; }
        &:last-child { padding-bottom: 2em; }
    }
}

// Dropdowns
.selector {
    background-color: $baseColor6;
    height: 100%;
    left: 0;
    padding: 0.5em;
    position: absolute;
    top: 0;
    width: 100%;
}

    .selector__label {
        border: 1px solid $baseColor7a;
        border-radius: 4px;
        display: table;
        height: 100%;
        width: 100%;
        font-weight: 100;
    }

        .selector__label > h2 {
            display: table-cell;
            font-size: 1rem;
            font-weight: lighter;
            height: 100%;
            margin: 0;
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }

    .selector__options {
        background-color: $baseColor5;
        display: none;
        list-style: none;
        margin: 0;
        width: 100%;

        & .selector__options--item {
            border-bottom: 1px solid $baseColor6;
            text-align: center;
        }

        & .selector__options--item:hover {
            color: $baseColor3;
        }

        & .selector__options--item.selected {
            font-weight: bold;
        }

        & .selector__options--item a {
            color: inherit;
            display: block;
            text-decoration: none;
        }
    }
