.text-input {
    border-radius: 4px;
    padding: 0.5em;
    width: 100%;
}

.text-input.error {
    border: 3px solid $inputErrColor;
}

.errors {
    color: #fff;
    margin-bottom: 1.5em;

    .error-msg {
        margin-bottom: 0;
    }
}
