.action-bar {
    background-color: $baseColor6;
    height: 3em;

    & button {
        background-color: $baseColor6;
        border: none;
    }
}

    .header__title {
        color: $baseColor3;
        font-weight: 100;
        margin-bottom: 0;
        padding-left: 0.2em;
    }

    .meet-filter {
        height: 100%;
        padding: 0 ($base-spacing-unit / 2);
        position: relative;
    }

        .meet-filter__dropdown {
            min-height: 100%;
            width: 100%;
        }
