.meet-maker {
    height: 100%;
    position: relative;
    width: 100%;
}

.meets__attending {
    background-color: $baseColor4;
    padding: 5%;
    @include clearHeader;

    ul {
        margin-left: 0;
    }
}

    .block-list li {
        border-style: none;
        font-size: 1.2em;


    }
        .confirmation {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width:100%;

            &:before {
                background-color: black;
                content: '';
                display: block;
                height: 100%;
                opacity: 0.5;
                width:100%;
            }

            .meet-card {
                left: 5%;
                position: absolute;
                top: 0;
                width: 90%;
            }
        }

        .meet-card {
            background-color: $baseColor3;
            border-radius: 4px;
            border-style: none;
            color: $baseColor2;
            margin-bottom: 5%;
            padding: 5%;

            &:first-child {
                margin-top: 5 / 90 * 100%;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .meet-card__parameter > * {
                display: inline-block;
            }

            .meet-card__parameter:last-of-type > * {
                &:last-child {
                    margin-bottom: 0;
                }

                display: block;
            }

            .meet-card__parameter {
                .parameter-label {
                    padding-right: 1em;
                }

                .parameter-detail__user {
                    display: inline-block;
                    margin-right: 8px;
                }

                .parameter-detail__user-avatar {
                    border-radius: 50px;
                    height: 50px;
                    width: 50px;
                }

                .parameter-detail__user-name {
                    text-align: center;
                }
            }
        }
