.tab-switcher {
    height: 3em;
}

.grid__item-tab {
    background-color: $baseColor2;
    color: $baseColor3a;
    display: inline-block;
    font-weight: 500;
    height: 100%;
    line-height: 3em;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:after {
        bottom: 0;
        content: '';
        display: block;
        height: 0.5em;
        left: 0;
        opacity: 0.3;
        position: absolute;
        width: 100%;
    }

    &.active:after {
        opacity: 1;
    }

    &:nth-of-type(1):after {
        background-color: $baseColor20;
    }

    &:nth-of-type(2):after {
        background-color: $baseColor21;
    }

    &:nth-of-type(3):after {
        background-color: $baseColor13;
    }

    &:nth-of-type(4):after {
        background-color: $baseColor14;
    }

    &:nth-of-type(1).done {
        color: $baseColor20;
    }

    &:nth-of-type(2).done {
        color: $baseColor21;
    }

    &:nth-of-type(3).done {
        color: $baseColor13;
    }

    &:nth-of-type(4).done {
        color: $baseColor14;
    }
}
