input[name=friend] {
    visibility: hidden;
}

input[name=friend]:checked + .friend-label {
    background-color: $baseColor22;
    color: $baseColor3;
}

.user-list {
    border: none;
    margin-bottom: 0;
}

    .searchbar {
        background-color: $baseColor6;
        padding: 0.7em 0.5em;
    }

    #who {
        background-color: $baseColor3;
    }

.friend-item {
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }
}

.friend-label {
    left: 0;
    padding: 12px;
    position: absolute;
    top: 0;
    width: 100%;
}

.user-item-link {
    color: $baseColor7;
    text-decoration: none;
}
