   <div class="grid__item three-eighths">
     <h1 class="header__title">Meets</h1>
   </div><!--
--><div class="grid__item three-eighths meet-filter">
   <select class="meet-filter__dropdown">
     <option value="attending">Attending</option>
     <option value="invited">Invited</option>
     <option value="cancelled">Cancelled</option>
   </select>
   <div class="selector">
     <div class="selector__label"><h2>Attending</h2></div>
     <ul class="selector__options">
       <li class="selector__options--pseudo-filter selected" data-index="0">Attending</li>
       <li class="selector__options--pseudo-filter" data-index="1">Invited</li>
       <li class="selector__options--pseudo-filter" data-index="2">Cancelled</li>
     </ul>
   </div>
   </div><!--
--><button class="grid__item one-eighth ic add-meet">
     <div class="ic__graphic ic__graphic--plus"></div>
   </button><!--
--><button class="grid__item one-eighth ic menu">
     <div class="ic__graphic ic__graphic--menu"></div>
   </button>
