@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* line 6, ../../scss/ui/auth.scss */
.login, .signup {
  margin: 10% auto;
  text-align: center;
  width: 75%;
}
/* line 11, ../../scss/ui/auth.scss */
.login .text-input, .signup .text-input {
  border-radius: 4px;
  padding: 0.5em;
  width: 80%;
}

/* line 18, ../../scss/ui/auth.scss */
.login .title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #333;
  font-family: 'Pacifico', cursive;
}

/* line 25, ../../scss/ui/auth.scss */
.signup .no-signup {
  margin-top: 1.5em;
}

/* line 27, ../../scss/ui/auth.scss */
.h-divider {
  padding: 1em 0;
  position: relative;
  text-align: center;
}
/* line 32, ../../scss/ui/auth.scss */
.h-divider:before {
  -webkit-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.7);
  border-top: 1px solid #b3b3b3;
  content: "";
  display: "block";
  height: 1px;
  left: 5%;
  position: absolute;
  top: 50%;
  width: 90%;
  z-index: 1;
}
/* line 46, ../../scss/ui/auth.scss */
.h-divider .h-divider-text {
  background: #f0f0f0;
  padding: 0 2em;
  position: relative;
  z-index: 2;
}
