@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* line 6, ../../scss/ui/auth.scss */
.auth {
  -webkit-box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.4);
  background-color: #f0f0f0;
  border-radius: 6px;
  margin: 10% auto 0;
  padding: 1.5em;
  text-align: center;
  width: 60%;
}
/* line 16, ../../scss/ui/auth.scss */
.auth .auth-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #333;
  font-family: 'Pacifico', cursive;
}
/* line 23, ../../scss/ui/auth.scss */
.auth .auth-no-signup {
  margin-top: 1.5em;
}
/* line 27, ../../scss/ui/auth.scss */
.auth .text-input {
  border-radius: 4px;
  padding: 0.5em;
  width: 50%;
}

/* line 34, ../../scss/ui/auth.scss */
.h-divider {
  padding: 1em 0;
  position: relative;
  text-align: center;
}
/* line 39, ../../scss/ui/auth.scss */
.h-divider:before {
  -webkit-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.7);
  border-top: 1px solid #b3b3b3;
  content: "";
  display: "block";
  height: 1px;
  left: 5%;
  position: absolute;
  top: 50%;
  width: 90%;
  z-index: 1;
}
/* line 53, ../../scss/ui/auth.scss */
.h-divider .h-divider-text {
  background: #f0f0f0;
  padding: 0 2em;
  position: relative;
  z-index: 2;
}
