<form method="post" action="/users">
  <ul class="form-fields">
    <li><input type="text" class="text-input" name="fName" placeholder="First Name" /></li>
    <li><input type="text" class="text-input" name="lName" placeholder="Last Name" /></li>
    <li><input type="text" class="text-input" name="email" placeholder="Email" /></li>
    <li><input type="text" class="text-input" name="password" placeholder="Password" /></li>
    <li><input type="submit" class="btn btn--positive" value="Create New Account" /></li>
  </ul>
</form>

<p class="account-no-signup">Already have an account? <a href="#" class="toggle-login">Log in.</a></p>
