<form action="">
  <ul class="form-fields">
    <li><input id="fName" type="text" class="text-input" name="fName" placeholder="First Name" /></li>
    <li><input id="lName" type="text" class="text-input" name="lName" placeholder="Last Name" /></li>
    <li><input id="email" type="email" class="text-input" name="email" placeholder="Email" /></li>
    <li><input id="password" type="text" class="text-input" name="password" placeholder="Password" /></li>
    <li><input type="submit" class="btn btn--positive" value="Create New Account" /></li>
  </ul>
</form>

<p class="no-signup">Already have an account? <a href="#/login" class="toggle-login">Log in.</a></p>
