<div class="bio">
  <img class="bio-pic" src="http://www.placecage.com/150/150" alt="Profile picture" />
  <p class="bio-username"><%= username %></p>
  <p class="bio-email"><%= email %></p>
</div>

<%
  var isFriend = _.contains( friends, $.cookie('uid') )
    , sentFriendRequest = _.contains( friendRequests.received, $.cookie('uid') )
    , enableButton = !isFriend && !sentFriendRequest;
%>
<button class="btn btn--add-friend <% if ( !enableButton ) { %>btn--inactive<% } else { %>btn--positive<% } %>">
<% if ( enableButton ) { %>
  Add Friend
<% } else { %>
  Friend Request Sent
<% } %>
</button>
